<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-bar">
      <ion-fab-button id="btnAtras" (click)="goToMain()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
      <ion-title class="ion-title">SABOR FIT</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<!-- SI HAY RESULTADOS -->
<ion-content *ngIf="!sinResultados">
  <h2 class="titulo-seccion">
    Resultados:
  </h2>
  <div class="line"></div>
  <ng-container>
    <div *ngFor="let recipe of recetasFiltradas">
      <app-recipe-card
        [recipe]="recipe"
        (toggleFavorite)="recipeFavorite($event)"
        (recipeClick)="goToRecipe($event)"
      >
      </app-recipe-card>
    </div>
  </ng-container>
</ion-content>

<!-- EN CASO DE QUE NO HAYA RESULTADOS -->
<ion-content *ngIf="sinResultados" class="ion-padding sinRecetas-content">
  <img src="assets/noReceta.png" alt="SinRecetas" class="logo-img" />

  <h2 class="mensaje-error">No se encontraron recetas con esos ingredientes</h2>
  <div class="line"></div>
  <ion-button expand="block" class="boton-generar" (click)="createRecipe()">Generar receta</ion-button>

    <ion-spinner
    *ngIf="loadingRecipe"
    name="dots"
    class="spinner"
  ></ion-spinner>
</ion-content>
