<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-bar">
      <ion-fab-button id="btnAtras" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
      <ion-title class="ion-title">SABOR FIT</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    <p class="bienvenida">Bienvenido/a, {{user.getName()}}</p>

    <img src="assets/login.png" alt="Logo" class="logo-img" />

    <h2 class="titulo-seccion">
      Mis Favoritas <ion-icon class="heart-icon" name="heart"></ion-icon>
    </h2>
    <div class="line"></div>

    <ng-container *ngIf="favoriteRecipes.length === 0">
      <div class="sin-favoritas">
        <img
          src="assets/noFav.png"
          alt="Sin favoritas"
          class="imagen-vacia"
        />
        <p class="mensaje-vacio">Aún no hay recetas favoritas guardadas.</p>
      </div>
    </ng-container>

    <ng-container *ngIf="favoriteRecipes.length > 0">
      <div *ngFor="let recipe of favoriteRecipes">
        <app-recipe-card
          [recipe]="recipe"
          [mostrarEstrella]="false"
          (toggleFavorite)="recipeFavorite($event)"
          (recipeClick)="goToRecipe($event)">
        </app-recipe-card>
      </div>
    </ng-container>
  </div>
</ion-content>
