ion-content {
  font-family: sans-serif;
  color: var(--grey-text);
  --background: linear-gradient(to bottom, #ee8027, #eccfa8);
}
.login-background {
  background: linear-gradient(to bottom, #ee8027, #eccfa8) !important;
}
//------------------HEADER-------------------------
.ion-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
  margin-right: 65px;
}
.header-toolbar {
  --background: var(--orange-app);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btnAtras {
  --background: var(--orange-app);
  --box-shadow: none;
  box-shadow: none; 
  margin: 16px 0px 20px 16px;
}

//ICONO REGISTRO
.icon-wrapper {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.register-icon {
  font-size: 100px;
  color: white;
}
.div-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  min-height: 5rem;
  padding: 32px 30px 24px;
  box-sizing: border-box;
}
.auth-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 200px;
}
.input-block {
  display: flex;
  flex-direction: column;
}
.validators {
  color: #d32f2f;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 6px 12px;
  font-family: sans-serif;
}
ion-button {
  --background: #16813a;
  --border-radius: 14px;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  height: 48px;
  margin-top: 8px;
}
