<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-bar">
      <ion-fab-button id="user" class="btnUsuario">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-popover trigger="user" side="bottom" alignment="start">
        <ng-template>
          <ion-content class="ion-padding">
            <div class="divPopover">
              <ion-label class="logOut"
                >Bienvenido, {{user.getName()}}!!</ion-label
              >
            </div>
            <div class="divPopover">
              <a class="favorite" (click)="goFavorites()"
                ><ion-icon name="star" class="favoriteIcon" />Favoritos</a
              >
            </div>
            <div class="divPopover">
              <a class="logOut" (click)="logOut()"
                ><ion-icon name="log-out" class="logOutIcon" />Cerrar Sesion</a
              >
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-title class="ion-title" (click)="scrollToTop()">SABOR FIT</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" #page>
  <swiper-container
    class="swiper-preview"
    slides-per-view="2"
    space-between="10"
  >
    <swiper-slide *ngFor="let recipe of swiperRecipes; trackBy: trackById">
      <ion-card class="slide-card" (click)="goToRecipe(recipe)">
        <ion-card-header>
          <img
            [alt]="recipe.getName()"
            [src]="recipe.getThumbnail()"
            class="slide-img"
          />
          <ion-card-title class="slide-title"
            >{{recipe.getName()}}</ion-card-title
          >
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <div class="custom-searchbar">
    <ion-input
      [(ngModel)]="searchQuery"
      placeholder="Buscar receta..."
      class="custom-input"
      (keyup.enter)="onSearch()"
    ></ion-input>
    <ion-icon
      name="search-outline"
      class="search-icon"
      (click)="onSearch()"
    ></ion-icon>
  </div>

  <ng-container *ngFor="let recipe of recipes; trackBy: trackById">
    <app-recipe-card
      [recipe]="recipe"
      (toggleFavorite)="recipeFavorite(recipe)"
      (recipeClick)="goToRecipe(recipe)"
    ></app-recipe-card>
  </ng-container>

  <ion-infinite-scroll
    (ionInfinite)="onloadRecipes($event)"
    [disabled]="todasCargadas"
  >
    <ion-infinite-scroll-content
      loadingText="Cargando recetas"
      loadingSpinner="bubbles"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
