<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img src="" alt="">

    <ion-list lines="none">
      <ion-item>
        <h2>Nombre de la receta</h2>
      </ion-item>
      <ion-item>
        <ion-label>Datos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ingredientes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Explicacion</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
